html, body {
    background-color: #2f2f33;
    margin: 0;
    padding: 4px 12px;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#title {
    margin: 20px 0 10px;
}

#title svg {
    width: 320px;
    max-width: 100%;
    fill: #d8d9da;
}

.graph-container {
    display: flex;
    margin-top: 12px;
}

.graph-container iframe {
    width: 100%;
    height: 632px;
}

@media (max-width: 816px) {
    html, body, main {
        height: calc(100% - 8px);
    }

    .graph-container {
        height: calc(100% - 75px);
    }

    .graph-container {
        display: block;
    }

    .graph-container iframe {
        height: 100%;
    }
}
