name: CD Workflow
on:
  push:
    tags:
      - '*'

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/bake-action@v6
        with:
          files: docker-bake.hcl
          push: true
          set: |
            supplier.args.PORT=443
            reactor.args.PORT=443
            supplier.tags=ghcr.io/chitoku-k/ejaculation-counter/supplier:${{ github.ref_name }}
            reactor.tags=ghcr.io/chitoku-k/ejaculation-counter/reactor:${{ github.ref_name }}
            grafana.tags=ghcr.io/chitoku-k/ejaculation-counter/grafana:${{ github.ref_name }}
            mq.tags=ghcr.io/chitoku-k/ejaculation-counter/mq:${{ github.ref_name }}
            web.tags=ghcr.io/chitoku-k/ejaculation-counter/web:${{ github.ref_name }}
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
      - name: Set up ID token
        uses: actions/github-script@v8
        id: id-token
        with:
          result-encoding: string
          script: |
            return await core.getIDToken('k8s.chitoku.jp');
      - name: Set context
        run: |
          kubectl config set-cluster k8s.chitoku.jp --server=https://k8s.chitoku.jp
          kubectl config set-credentials github-actions --token=${{ steps.id-token.outputs.result }}
          kubectl config set-context k8s.chitoku.jp --cluster=k8s.chitoku.jp --user=github-actions
          kubectl config use-context k8s.chitoku.jp
      - name: Update images
        run: |
          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-supplier \
            supplier=ghcr.io/chitoku-k/ejaculation-counter/supplier:${{ github.ref_name }}

          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-reactor \
            reactor=ghcr.io/chitoku-k/ejaculation-counter/reactor:${{ github.ref_name }}

          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-web \
            web=ghcr.io/chitoku-k/ejaculation-counter/web:${{ github.ref_name }} \
            grafana=ghcr.io/chitoku-k/ejaculation-counter/grafana:${{ github.ref_name }}

          kubectl patch --field-manager=github-actions rabbitmqclusters.rabbitmq.com/ejaculation-counter-mq-cluster \
            --type=merge \
            --patch='{"spec": {"image": "ghcr.io/chitoku-k/ejaculation-counter/mq:${{ github.ref_name }}"}}'
