name: CI Workflow
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        context:
          - reactor
          - supplier
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        id: build
        with:
          context: ${{ matrix.context }}
          target: dev
          cache-from: type=gha,scope=${{ github.ref_name }}-${{ matrix.context }}test
          cache-to: type=gha,scope=${{ github.ref_name }}-${{ matrix.context }}test,mode=max
          load: true
      - name: Run tests
        run: |
          docker run --rm ${{ steps.build.outputs.imageid }} go test ./...
      - name: Run golangci-lint
        if: ${{ always() && steps.build.conclusion == 'success' }}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker run --rm ${{ steps.build.outputs.imageid }} golangci-lint run --output.text.path=stdout --path-prefix=${{ matrix.context }} |
            reviewdog -f=golangci-lint -reporter=github-pr-annotations -filter-mode=nofilter -fail-level=any -tee

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into Container Registry
        if: ${{ github.ref_name == 'master' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/bake-action@v6
        with:
          files: docker-bake.hcl
          push: ${{ github.ref_name == 'master' }}
          set: |
            supplier.tags=ghcr.io/chitoku-k/ejaculation-counter/supplier:latest
            reactor.tags=ghcr.io/chitoku-k/ejaculation-counter/reactor:latest
            grafana.tags=ghcr.io/chitoku-k/ejaculation-counter/grafana:latest
            mq.tags=ghcr.io/chitoku-k/ejaculation-counter/mq:latest
            web.tags=ghcr.io/chitoku-k/ejaculation-counter/web:latest
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

  update-dashboard:
    name: Update dashboard
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GIT_AUTHOR_NAME: 'github-actions[bot]'
      GIT_AUTHOR_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
      GIT_COMMITTER_NAME: 'github-actions[bot]'
      GIT_COMMITTER_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || '' }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: grafana-export/go.mod
          cache-dependency-path: grafana-export/go.sum
      - name: Set up Playwright
        working-directory: grafana-export
        run: |
          go tool playwright install --with-deps
      - name: Build
        working-directory: grafana-export
        run: |
          go build .
      - name: Start Grafana
        run: |
          docker compose \
            -f compose.yaml \
            -f <(echo '{"services": {"grafana": {"ports": ["3000:3000"]}}}') \
            up -d grafana

          until curl -f http://localhost:3000/api/health &> /dev/null; do
            sleep 0.05
          done
      - name: Update dashboard
        working-directory: grafana-export
        run: |
          ./grafana-export \
            http://localhost:3000/grafana/d/ejaculation-counter/?shareView=export \
            ../grafana/dashboards/dashboards/ejaculation-counter.json

          if git diff --exit-code &> /dev/null; then
            exit 0
          fi

          git add ../grafana/dashboards/dashboards
          git commit --message="Update dashboard"
          git push
