name: Publish
on:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml

  build-executable:
    name: Build executable
    needs:
      - test
    uses: ./.github/workflows/build-executable.yml
    with:
      upload: true

  build-image:
    name: Build image
    needs:
      - test
    uses: ./.github/workflows/build-image.yml
    with:
      push: true
      set: |
        supplier.args.PORT=443
        reactor.args.PORT=443

  combine:
    name: Combine ${{ matrix.target }}
    needs:
      - build-image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - supplier
          - reactor
          - grafana
          - mq
          - web
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Download digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.target }}-*
          merge-multiple: true
      - name: Log into Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create \
            --tag=ghcr.io/chitoku-k/ejaculation-counter/${{ matrix.target }}:latest \
            $(printf 'ghcr.io/chitoku-k/ejaculation-counter/${{ matrix.target }}@sha256:%s ' *)
