name: Publish image
on:
  push:
    branches:
      - master
  workflow_call:
    inputs:
      tags:
        type: string
        required: true

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-image.yml
    with:
      push: true
      set: |
        supplier.args.PORT=443
        reactor.args.PORT=443

  combine:
    name: ${{ matrix.target }}
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - supplier
          - reactor
          - grafana
          - mq
          - web
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Download digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.target }}-*
          merge-multiple: true
      - name: Log into Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        env:
          TAGS: ${{ inputs.tags || 'latest' }}
        run: |
          docker buildx imagetools create \
            --annotation=index:org.opencontainers.image.source=${{ github.repositoryUrl }} \
            --annotation=index:org.opencontainers.image.revision=${{ github.sha }} \
            --annotation=index:org.opencontainers.image.version=${{ needs.build.outputs.version }} \
            $(printf -- '--tag=ghcr.io/chitoku-k/ejaculation-counter/${{ matrix.target }}:%s ' $(tr ',' ' ' <<< "$TAGS")) \
            $(printf 'ghcr.io/chitoku-k/ejaculation-counter/${{ matrix.target }}@sha256:%s ' *)
