name: Release
on:
  release:
    types:
      - published

defaults:
  run:
    shell: bash

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  publish-executable:
    name: Publish executable
    needs:
      - lint
      - test
    uses: ./.github/workflows/publish-executable.yml
    with:
      tag: ${{ github.event.release.tag_name }}

  publish-image:
    name: Publish image
    needs:
      - lint
      - test
    uses: ./.github/workflows/publish-image.yml
    with:
      tags: ${{ github.event.release.tag_name }},latest

  deploy:
    name: Deploy
    needs:
      - publish-image
    runs-on: ubuntu-latest
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
      - name: Set up kubectl context
        uses: chitoku-k/actions/setup-kubectl-context@master
      - name: Update images
        run: |
          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-supplier \
            supplier=ghcr.io/chitoku-k/ejaculation-counter/supplier:${{ github.event.release.tag_name }}

          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-reactor \
            reactor=ghcr.io/chitoku-k/ejaculation-counter/reactor:${{ github.event.release.tag_name }}

          kubectl set image --field-manager=github-actions deployment/ejaculation-counter-web \
            web=ghcr.io/chitoku-k/ejaculation-counter/web:${{ github.event.release.tag_name }} \
            grafana=ghcr.io/chitoku-k/ejaculation-counter/grafana:${{ github.event.release.tag_name }}

          kubectl patch --field-manager=github-actions rabbitmqclusters.rabbitmq.com/ejaculation-counter-mq-cluster \
            --type=merge \
            --patch='{"spec": {"image": "ghcr.io/chitoku-k/ejaculation-counter/mq:${{ github.event.release.tag_name }}"}}'
